<html>

    <head>
        <title>

        </title>
    </head>

    <body>

        <form action="/submit" method="POST">

            Customer Id: <input type="text" name="id"/>
            </br>
            </br>

            Area of Concern:
            <input type="radio" name="area" value="Landline" checked/> Landline
            <input type="radio" name="area" value="Broadband"/> Broadband 
            <input type="radio" name="area" value="Cable TV"/> Cable TV
            </br>
            </br>

            Describe your problem: 
            </br>
            </br>

            <textarea cols="20" rows="4" name="complaint">*complaint here*</textarea>
            </br>
            </br>
                
            Date first noticed: <input type="date" name="date"/>
            </br>
            </br>

            <button type="submit">Submit Complaint</button>

        </form>
    </body>

</html>