<html>

    <head>

        <title>
            Dumb Communications Inc.
        </title>

    </head>

    <body>

        <h2><u>Dumb Communications Inc.</u></h2> <a href="\complain">Submit a complaint</a>
        
        </br>

        ----------------------------

        <table>

            <% for(const row of results) { %> 
                
                <tr>
                    <td>
                        Customer ID: <%= row.id%> </br>
                        Area of Concern: <%= row.area%> </br>
                        Complaint: <%= row.complaint%> </br>
                        Date noticed: <%= row.date%> </br>
                        ----------------------------
                    </td>
                </tr>
        
            <% } %>

        </table>


    </body>

</html>